
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}

input, button, textarea,
select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
	*font-size: 100%;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow! */
:link, :visited , ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*万能清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.clearfix { zoom: 1; }
.clear { clear: both; }

/*通用样式 警告、错误、按钮等*/
span.wrong {
	float:left;
	border:1px solid #cd0a0a;
	background:url(../images/span.png) #fff7f5 no-repeat 6px 4px;
	color:#cd0a0a;
	font-size:12px;
	padding:2px 10px 0px 25px;
	margin-left:10px;
	_margin-left:5px;
	}
span.warn {
	float:left;
	border:1px solid #fad42e;
	background:url(../images/span.png) #fbec88 no-repeat 6px -26px;
	color:#686868;
	font-size:12px;
	padding:2px 10px 0px 25px;
	margin-left:10px;
	_margin-left:5px;
	}
span.valid
{
    border:none;
}
.button {
	background:url(../images/button.png) no-repeat left top;
	width:67px;
	height:24px;
	border:0px none;
	float:left;
	color:#fff;
	font-size:12px;
	text-align:center;
	cursor:pointer;
	margin-right:40px;
	_margin-right:20px;
	}
.button:hover {
	background:url(../images/button.png) no-repeat left bottom;
	color:#31728a;
	}
/*loc*/
.td1 {
	background:url(../images/loc_bg_left.png) no-repeat;
	width:6px;
	}
.td2 {
	background:url(../images/loc_bg_middle.png) repeat-x;
	padding:4px 4px 9px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	width:100px;
	}
.td3 {
	background:url(../images/loc_bg_center.png) no-repeat;
	width:6px;
	}
.td4 {
	background:url(../images/loc_bg.png) repeat-x;
	padding:6px 4px 9px;
	color:#747c80;
	font-size:12px;
	}
.td5 {
	background:url(../images/loc_bg_right.png) no-repeat;
	width:5px;
	}
.mr10 {
	margin-right:10px;
	}
.h10 {
	height:10px;
	}
.fl {
	float:left;
	}