/*top.html*/
.top {
	width:100%;
	height:68px;
	background:url(../images/top_bg.gif) repeat-x;
}
.logo {
	float: left;
	margin-left: 32px;
	margin-top: 3px;
	_margin-left: 16px;
	_margin-top: 1px;
}
.nav {
	float: left;
	margin-left: 62px;
	margin-top: 27px;
	_margin-left: 31px;
	_margin-top: 13px;
	list-style:none;
}
.nav li {
	float: left;
	width: 43px;
	height: 29px;
	margin-right: 20px;
	_margin-right: 10px;
	background-image:url(../images/nav_bg.png);
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-left: 41px;
	cursor: pointer;
}
.nav a {
	color: #074f69;
	font-size:14px;
}
/*销售*/
.nav_01 {
	background-position: left top;
}
.nav_01:hover,.act_01 {
	background-position: right top;
}
/*技术*/
.nav_02 {
	background-position: left -68px;
}
.nav_02:hover,.act_02 {
	background-position: right -68px;
}
/*生产*/
.nav_03 {
	background-position: left -137px;
}
.nav_03:hover,.act_03 {
	background-position: right -137px;
}
/*仓储*/
.nav_04 {
	background-position: left -205px;
}
.nav_04:hover ,.act_04{
	background-position: right -205px;
}
/*系统*/
.nav_05 {
	background-position: left -273px;
}
.nav_05:hover,.act_05 {
	background-position: right -273px;
}
/*用户*/
.login {
	float: right;
	margin-right: 42px;
	margin-top: 36px;
	_margin-right: 21px;
	_margin-top: 18px;
}
.login a {
	color: #6a6a6a;
	font-size: 12px;
}
.login a:hover {
	color: #008fa8;
	text-decoration: underline;
}
.login .login_left {
	width: 6px;
	height: 28px;
	float: left;
	background: url(../images/login_bg_left.png) no-repeat left top;
}
.login .login_middle {
	height: 28px;
	float: left;
	background: url(../images/login_bg_middle.png) repeat-x left top;
}

.login .login_middle dt {
	float: left;
	padding: 5px 12px 0px 12px;
}

.login .login_right {
	width: 6px;
	height: 28px;
	float: left;
	background: url(../images/login_bg_right.png) no-repeat left top;
}

/*bottom.html*/
.bottom {
	width: 100%;
	height: 50px;
	background-color: #7ad0f0;
}

