<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="PageSecurity" type="Web.PageSecuritySection, Web" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings configSource="Config\connectionstring.config"/>
  <appSettings>
    <add key="conn" value="name=bag"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" /></controls></pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
   
  </system.web>
  <system.webServer>
    <modules>
      
       <remove name="WindowsAuthentication" />
       <remove name="PassportAuthentication" />
       <remove name="RoleManager" />
       <remove name="FileAuthorization" />
       <remove name="AnonymousIdentification" />
       <remove name="Profile" />
       <add name="AuthHttpModule" type="Web.AuthHttpModule,Web" />
       <add name="ExceptionHttpModule" type="Web.ExceptionHttpModule,Web" />
  
    </modules>
  </system.webServer>
  <PageSecurity configSource="Config\PageSecurity.config"/>
</configuration>