<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="bag" connectionString="server=.\sql2008r2;database=bag;user id=sa;password=123456;" providerName="System.Data.SqlClient" />
  <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;uid=root;pwd=123456;database=bag" />
</connectionStrings>
