<?xml version="1.0"?>
<Map>
  <Menus>
    <MainMenu name="任务" icon="nav_01" alias="task" purview="task">
      <Menu title="发布研发任务" url="~/task/addtask.aspx" purview="task_add"/>
      <Menu title="待确认任务" url="~/task/taskmanage.aspx" purview="task_confirm"/>
      <Menu title="所有研发任务" url="~/task/taskmanage.aspx" purview="task_manage"/>
    </MainMenu>
    <MainMenu name="技术" icon="nav_02" alias="tech" purview="tech">
      <Menu title="发布研发日志" url="" purview="addtask"/>
      <Menu title="待研发任务" url="~/task/taskmanage.aspx" purview="task_manage"/>
    </MainMenu>
    <MainMenu name="生产" icon="nav_03" alias="produce" purview="produce">
      <Menu title="新订单" url="" purview="order_manage"/>
      <Menu title="所有订单" url="" purview="order_manage"/>
      <Menu title="发布抽检记录" url="" purview="order_manage"/>
      <Menu title="我发布的抽检记录" url="" purview="order_manage"/>
      <Menu title="发布质检记录" url="" purview="order_manage"/>
      <Menu title="我发布的质检记录" url="" purview="order_manage"/>
    </MainMenu>
    <MainMenu name="仓储" icon="nav_04" alias="stock" purview="stock">
      <Menu title="添加入库记录" url="" purview="addstocklog"/>
      <Menu title="所有入库记录" url="" purview="order_manage"/>
      <Menu title="检索入库记录" url="" purview="order_manage"/>
    </MainMenu>
    <MainMenu name="系统" icon="nav_05" alias="system">
      <Menu title="用户管理" url="~/security/usermanage.aspx" purview="system_user"/>
      <Menu title="角色管理" url="~/security/rolemanage.aspx" purview="system_user"/>
      <Menu title="修改密码" url="~/security/changepassword.aspx" />
    </MainMenu>
  </Menus>
  <WatiItems>
    <item title="待确认任务" icon="images/li_01.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=taskneedconfirm"/>
    <item title="新订单" icon="images/li_02.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=neworder"/>
    <item title="待研发任务" icon="images/li_03.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=waitproduce"/>
  </WatiItems>
  <ShartCuts>
    <item title="新建研发任务" icon="images/li_001.png" url="~/task/addtask.aspx" purview="task_add"/>
    <item title="检索研发任务" icon="images/li_002.png" url="~/task/taskmanage.aspx" purview="task_manage"/>
    <item title="新建生产任务" icon="images/li_001.png" url="~/task/addorder.aspx" purview="order_add"/>
    <item title="新建生产任务" icon="images/li_002.png" url=""/>
    <item title="新建生产任务" icon="images/li_003.png" url=""/>
    <item title="新建生产任务" icon="images/li_004.png" url=""/>
    <item title="新建生产任务" icon="images/li_005.png" url=""/>
    <item title="新建生产任务" icon="images/li_006.png" url=""/>
    <item title="新建生产任务" icon="images/li_007.png" url=""/>
  </ShartCuts>
</Map>
