<?xml version="1.0"?>
<Map>
  <Menus>
    <MainMenu name="销售" icon="nav_01" alias="sale" purview="">
      <Menu title="发布研发任务" url="" purview="addtask"/>
    </MainMenu>
    <MainMenu name="销售" icon="nav_01" alias="sale" purview="">
      <Menu title="发布研发任务" url="" purview="addtask"/>
    </MainMenu>
    <MainMenu name="销售" icon="nav_01" alias="sale" purview="">
      <Menu title="发布研发任务" url="" purview="addtask"/>
    </MainMenu>
    <MainMenu name="销售" icon="nav_01" alias="sale" purview="">
      <Menu title="发布研发任务" url="" purview="addtask"/>
    </MainMenu>
    <MainMenu name="系统" icon="nav_05" alias="system">
      <Menu title="用户管理" url="~/security/usermanage.aspx" purview="system_user"/>
      <Menu title="角色管理" url="~/security/rolemanage.aspx" purview="system_user"/>
      <Menu title="修改密码" url="~/security/changepassword.aspx" />
    </MainMenu>
  </Menus>
  <WatiItems>
    <item title="待办事项" icon="images/li_01.png" url=""/>
  </WatiItems>
  <ShartCuts>
    <item title="新建研发任务" icon="images/li_001.png" url=""/>
    <item title="检索研发任务" icon="images/li_002.png" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
    <item title="" icon="" url=""/>
  </ShartCuts>
</Map>
