<?xml version="1.0"?>
<Map>
  <Menus>
    <MainMenu name="任务" icon="nav_01" alias="task" purview="task">
      <Menu title="发布研发任务" url="~/task/addtask.aspx" purview="task_add"/>
      <Menu title="我负责任务" url="~/task/taskmanage.aspx?self=1" purview="task_manage" appendsecuritycode="true"/>
      <Menu title="待确认新任务" url="~/task/taskmanage.aspx?status=0" purview="task_confirm" appendsecuritycode="true"/>
      <Menu title="待客户确认任务" url="~/task/taskmanage.aspx?status=10" purview="task_manage" appendsecuritycode="true"/>
      <Menu title="检索任务" url="~/task/taskfilter.aspx" purview="task_manage"/>
      <Menu title="所有研发任务" url="~/task/taskmanage.aspx?status=-1" purview="task_manage" appendsecuritycode="true"/>
    </MainMenu>
    <MainMenu name="技术" icon="nav_02" alias="tech" purview="tech">
      <Menu title="我负责的研发任务" url="~/tech/devemanage.aspx?self=1" purview="tech_manage" appendsecuritycode="true"/>
     
      <Menu title="查询研发任务" url="~/tech/devefilter.aspx" purview="tech_manage"/>
      <Menu title="待确认研发任务" url="~/tech/devemanage.aspx?status=1" purview="tech_developconfirm" appendsecuritycode="true"/>
      <Menu title="所有进行中的任务" url="~/tech/devemanage.aspx?status=-2" purview="tech_manage"/>
      <Menu title="所有研发任务" url="~/tech/devemanage.aspx?status=-1" purview="tech_manage" appendsecuritycode="true"/>
    </MainMenu>
    <MainMenu name="生产" icon="nav_03" alias="order" purview="order">
      <Menu title="我负责订单" url="~/order/ordermanage.aspx?self=1" purview="order_manage"/>
      <Menu title="待确认订单" url="~/order/ordermanage.aspx?status=0" purview="order_manage"/>
      <Menu title="进行中订单" url="~/order/ordermanage.aspx?status=-2" purview="order_manage"/>
      <Menu title="订单检索" url="~/order/orderfilter.aspx" purview="order_manage"/>
      <Menu title="所有订单" url="~/order/ordermanage.aspx" purview="order_manage"/>
      <Menu title="我负责的订单（质检）" url="~/order/ordermanage.aspx?self=2" purview="order_manage"/>
    </MainMenu>
    <MainMenu name="仓储" icon="nav_04" alias="stock" purview="stock">
      <Menu title="所有入库记录" url="~/stock/stocklogmanage.aspx" purview="order_manage"/>
      <Menu title="检索入库记录" url="~/stock/stockfilter.aspx" purview="order_manage"/>
    </MainMenu>
    <MainMenu name="系统" icon="nav_05" alias="system">
      <Menu title="用户管理" url="~/security/usermanage.aspx" purview="system_user"/>
      <Menu title="角色管理" url="~/security/rolemanage.aspx" purview="system_user"/>
      <Menu title="修改密码" url="~/security/changepassword.aspx" />
    </MainMenu>
  </Menus>
  <WatiItems>
    <item title="待确认任务" icon="images/li_01.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=taskneedconfirm"/>
    <item title="新订单" icon="images/li_02.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=neworder"/>
    <item title="待研发任务" icon="images/li_03.png" url="" purview="" stateurl="~/tools/waitstat.aspx?type=waitproduce"/>
  </WatiItems>
  <ShartCuts>
    <item title="新建任务" icon="images/li_001.png" url="~/task/addtask.aspx" purview="task_add"/>
    <item title="检索任务" icon="images/li_002.png" url="~/task/taskfilter.aspx" purview="task_manage"  appendsecuritycode="true"/>
    <item title="查询研发任务" icon="images/li_001.png" url="~/tech/devefilter.aspx" purview="order_add"/>
    <item title="我负责的任务" icon="images/li_002.png" url="~/task/taskmanage.aspx?self=1" purview="task_manage"  appendsecuritycode="true"/>
    <item title="我负责的研发任务" icon="images/li_003.png" url="~/tech/devemanage.aspx?self=1" purivew="tech_manage"/>
    <item title="我负责的订单" icon="images/li_004.png" url="~/order/ordermanage.aspx?self=1" purivew="order_manage"/>
    <item title="我负责的订单（质检）" icon="images/li_005.png" url="~/order/ordermanage.aspx?self=2" purivew="checklog_add"/>
    <item title="检索入库记录" icon="images/li_006.png" url="~/stock/stockfilter.aspx" purivew="stock_manage"/>
    
  </ShartCuts>
</Map>
