<?xml version="1.0"?>
<PageSecurity>
  <noCheckLogOn>
    <page url="~/login.aspx"/>
    <page url="~/checkcode.aspx"/>
    <page url="~/webform1.aspx"/>
  </noCheckLogOn>
  <resources>
    <resource name="" value="">
        <purview name="" value=""/>
    </resource>
  </resources>
  <checkPurview>
    <page url="~/admin/adzone/admanage.aspx" purview="AdManage"/>
  </checkPurview>
</PageSecurity>
