<?xml version="1.0"?>
<PageSecurity>
  <noCheckLogOn>
    <page url="~/login.aspx"/>
    <page url="~/checkcode.aspx"/>
    <page url="~/logoff.aspx"/>
    <page url="~/tools/leftmenu.aspx"/>
  </noCheckLogOn>
  <resources>
    <resource name="系统" value="system">
        <purview name="用户管理" value="user"/>
        <purview name="角色管理" value="role"/>
    </resource>
    <resource name="任务" value="task">
      <purview name="发布任务" value="add"/>
      <purview name="任务编码" value="code"/>
      <purview name="新任务确认" value="confirm"/>
      <purview name="任务管理" value="manage"/>
    </resource>
    <resource name="任务订单" value="order">
      <purview name="发布订单" value="add"/>
      <purview name="新订单确认" value="confirm"/>
      <purview name="订单管理" value="manage"/>
    </resource>
    <resource name="质检记录" value="checklog">
      <purview name="发布抽检记录" value="add"/>
      <purview name="抽检记录管理" value="manage"/>
      <purview name="发布质检记录" value="confirm"/>
      <purview name="质检记录管理" value="manage"/>
    </resource>
  </resources>
  <checkPurview>
    <page url="~/admin/adzone/admanage.aspx" purview="AdManage"/>
  </checkPurview>
</PageSecurity>
