<?xml version="1.0"?>
<ValidateConfig>
  <Debug>false</Debug>
  <ErrorCss>wrong</ErrorCss>
  <SuccessCss>valid</SuccessCss>
  <ErrorElement>span</ErrorElement>
  <Messages>
    <SerializableDictionary>
      <key>
        <string>email</string>
      </key>
      <value>
        <string>邮箱地址格式不正确</string>
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>required</string>
      </key>
      <value>
        <string>请输入内容</string>
      </value>
    </SerializableDictionary>
  </Messages>
</ValidateConfig>