<?xml version="1.0"?>
<WebConfig>
    <Title>轻舟箱包管理系统</Title>
    <Copyright>苏州轻舟箱包服饰有限公司</Copyright>
    <TicketTime>20</TicketTime>
    <EnableSystemErrorLog>false</EnableSystemErrorLog>
    <EnableUserLogOnLog>false</EnableUserLogOnLog>
    <EnableOperationLog>false</EnableOperationLog>
  <PasswordMinLength>6</PasswordMinLength>
  <PasswordMaxLength>10</PasswordMaxLength>
</WebConfig>
