<?xml version="1.0"?>
<WebConfig>
  <Title>轻舟箱包管理系统</Title>
  <Copyright>苏州轻舟箱包服饰有限公司</Copyright>
  <TicketTime>20</TicketTime>
  <PasswordMinLength>6</PasswordMinLength>
  <PasswordMaxLength>10</PasswordMaxLength>
  <EnableSystemErrorLog>false</EnableSystemErrorLog>
  <EnableUserLogOnLog>false</EnableUserLogOnLog>
  <EnableOperationLog>false</EnableOperationLog>
  <SelLessonTimeLimit>0</SelLessonTimeLimit>
  <DefaultRole>1</DefaultRole>
  <HomeworkCommitTimeLimit>0</HomeworkCommitTimeLimit>
</WebConfig>